<!DOCTYPE html>
<html>
  <head>
    <title>My Memo - Authentication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body class='auth-container'>
    <div class='login-container'>
        <h1>Login</h1>
        <form id="login-form" method="POST" action="/login">
            <input class="form-field" type="email" name="email" placeholder="Email" required> <br/>
            <input class="form-field" type="password" name="password" placeholder="Password" required> <br/>
            <input class='btn-form-submit' type="submit" value="Login"/>
        </form>
    </div>
    <div class='register-container'>
        <h1>Get Started Today!</h1>
        <form id="register-form" method="POST" action="/user">
            <input class="form-field" type="email" name="email" placeholder="Email" required> <br/>
            <input class="form-field" type="password" name="password" placeholder="Password" required> <br/>
            <input class='btn-form-submit' type="submit" value="Get Started"/>
        </form>
    </div>
  </body>
</html>