<!DOCTYPE html>
<html>
  <head>
    <title>My Memo - Authentication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body class='auth-container'>
    <% include header %>
    <div class='login-container'>
        <h1>Login</h1>
        <form id="login-form" method="POST">
            <input id="login-email" class="form-field" type="email" name="email" placeholder="Email" required> <br/>
            <input id="login-password" class="form-field" type="password" name="password" placeholder="Password" required> <br/>
            <input id="sign-in" class='btn-form-submit' type="submit" value="Login"/>
        </form>
    </div>
    <div class='register-container'>
        <h1>Get Started Today!</h1>
        <form id="register-form" method="POST">
            <input id="register-email" class="form-field" type="email" name="email" placeholder="Email" required> <br/>
            <input id="register-password" class="form-field" type="password" name="password" placeholder="Password" required> <br/>
            <input id="sign-up" class='btn-form-submit' type="submit" value="Get Started"/>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/javascripts/auth.js"></script>
  </body>
</html>