<!DOCTYPE html>
<html>
  <head>
    <title>My Memo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body>
    <% include header %>
    <div class='home-title-container'>
        <h1>My Memo</h1>
        <p>Welcome to My Memo, a scheduling app.</p>
    </div>
    
    <div class='home-link-container'>
      <a href='/auth'>Login or Create an Account</a>
    </div>
    <div class='home-link-container'>
      <a href='/tasks'>Go to Task List</a>
    </div>
  </body>
</html>
