<!DOCTYPE html>
<html>
  <head>
    <title>My Memo - Tasks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body class="task-display-pg">
    <% include header %>
    <div class="search-bar">

    </div>
    <!-- All tasks list -->
    <div class="task-container-all">
        <div class="task-header-all">
            <h1 class="center">Tasks Left (Total)</h1>
            <p class="task-title-header">Task</p>
            <p class="task-date-header">Finish By</p>
        </div>
        <div class="task-content-all">
            <% for (var i = 0; i < tasklist.length; i++) { %>
                <% if (!tasklist[i].inProg) { %>
                    <div class="task-singular-container">
                        <i class="fas fa-minus-circle"></i>
                        <p class="task-title"><%= tasklist[i].title %></p>
                        <% if (tasklist[i].finishBy) { %>
                        <p class="task-date"><%= tasklist[i].finishBy.toDateString() %></p>
                        <% } else { %>
                        <p class="task-date">N/A</p>
                        <% } %>
                        <i class="fas fa-arrows-alt-v btn-task-switcher"></i>
                    </div>
                <% } %>
            <% } %>
        </div>
        <div class="task-singular-container">
            <a href=# class="add-task-all">Add a task</a>
        </div>
    </div>
    <!-- Daily task list-->
    <div class="task-container-day">
        <div class="task-header-day">
            <h1 class="center">Tasks For the Day</h1>
            <p class="task-title-header">Task</p>
            <p class="task-date-header">Finish By</p>
        </div>
        <div class="task-content-day">
            <% for (var i = 0; i < tasklist.length; i++) { %>
                <% if (tasklist[i].inProg) { %>
                    <div class="task-singular-container">
                        <i class="fas fa-minus-circle"></i>
                        <p class="task-title"><%= tasklist[i].title %></p>
                        <% if (tasklist[i].finishBy) { %>
                        <p class="task-date"><%= tasklist[i].finishBy.toDateString() %></p>
                        <% } else { %>
                        <p class="task-date">N/A</p>
                        <% } %>
                        <i class="fas fa-arrows-alt-v btn-task-switcher"></i>
                    </div>
                <% } %>
            <% } %>
         </div>
         <div class="task-singular-container">
            <a href=# class="add-task-day">Add a task</a>
        </div>
    </div>

    <!-- Add task modal -->
    <div class="modal-container">
        <div class="add-task-container">

            <button class="close-form"><a href=#>X</a></button>
            <h2 class="center">Add a Task</h2>

            <form class="add-task-form">
                <label class="prettylabel">Title:</label><br/>
                <input class="form-element" type="text" name="title" placeholder="Title of Task" required/><br/>
                <label class="prettylabel">Description:</label><br/>
                <textarea class="form-element" id="task-desc" rows="5" cols="40" placeholder="Description (Optional)"></textarea><br/>
                <label class="prettylabel">Finish by:</label><br/>
                <input class="form-element" type="date" name="finishBy"/><br/>

                <input class="btn-form-submit" type="reset" value="Clear"/>
                <input class="btn-form-submit" type="submit" value="Add"/>
            </form>
        </div>

        <div class="modal-background"></div>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $('.add-task-all').click(function(e) {
            $('.modal-container').addClass('show');
            $('.add-task-form').attr('day', false);
        });
        $('.add-task-day').click(function(e) {
            $('.modal-container').addClass('show');
            $('.add-task-form').attr('day', true);
        });
        $('.modal-container').on('click', '.modal-background', function(e) {
            $('.modal-container').removeClass('show');
        });
        $(".add-task-container").on('click', '.close-form', function(e) {
			$('.modal-container').removeClass('show');
        });
        $(".add-task-form").submit(function(e) {
            e.preventDefault();
            var formData = {
                title   : $('input[name=title]').val(),
                desc    : $('#task-desc').val(),
                finishBy: $('input[name=finishBy').val(),
                inProg  : $('.add-task-form').attr('day')
            };
            $.ajax({
                method: 'POST',
                url:    '/tasks',
                data:   formData
            })
            .done(function(newTask) {
                if (newTask.finishBy) {
                    newTask.finishBy = new Date(newTask.finishBy).toDateString();
                }
                else {
                    newTask.finishBy = "N/A";
                }
                if (formData.inProg)
                    var allOrDay = 'day';
                else
                    var allOrDay = 'all';
                addTask(newTask.title, newTask.finishBy, allOrDay);
                $('.modal-container').removeClass('show');
                clearTaskForm();
            })
            .fail(function(err) {
                console.log(err);
            });
        });

        var addTask = (title, date, allOrDay) => {
            $(`.task-content-${allOrDay}`).append(
            `<div class="task-singular-container">
                <i class="fas fa-minus-circle"></i>
                <p class="task-title">${title}</p>
                <p class="task-date">${date}</p>
                <i class="fas fa-arrows-alt-v btn-task-switcher"></i>
            </div>`);
        };

        var clearTaskForm = () => {
            $('input[name=title]').val('');
            $('#task-desc').val('');
            $('input[name=finishBy').val('');
        };
    </script>
  </body>
</html>