body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(1, 149, 207);
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

textarea {
  resize: none;
}

.navbar-top {
  float: right;
  padding-right: 25px;
  font-size: 1.2rem;
  font-weight: bold;
}

.home-title-container {
  width: 300px;
  margin: auto;
  margin-bottom: 85px;
  padding-top: 100px;
  text-align: center;
  clear: right;
}

.home-link-container {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 30px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgb(193, 236, 253);
}

.auth-container {
  background-color: rgb(182, 237, 253);
}

.login-container, .register-container {
  width: 400px;
  height: 120px;
  margin: auto;
}

.login-container {
  padding-top: 120px;
  margin-bottom: 150px;
  clear: right;
}

.form-field {
  width: 200px;
  height: 18px;
  padding: 2px 3px;
  margin-bottom: 7px;
}

.btn-form-submit {
  padding: 4px 7px;
  border-radius: 10px;
  background-color: rgb(83, 203, 250);
  color: white;
  border: none;
  outline: none;
}

.btn-form-submit:active {
  background-color: rgb(19, 178, 241);
}

.task-display-pg {
  background-color: rgb(247, 247, 247);
}

.search-bar {
  background-color: white;
  width: 350px;
  height: 800px;
  margin-top: 60px;
  float: left;
  position: fixed;
}

.search-bar > h3 {
  margin-left: 40px;
}

#search-date-header {
  margin-top: 40px;
}

.task-container-all, .task-container-day {
  clear: right;
  width: 700px;
  height: 100%;
  margin-left: 355px;
}

.task-header-all, .task-header-day {
  height: 120px;
  padding-top: 2px;
  background-color: rgb(193, 236, 253);
}

.task-singular-container, .add-singular-container {
  height: 40px;
  padding-left: 6px;
  width: 694px;
  margin: auto;
  margin-bottom: 5px;
  background-color: white;
}

.task-title-header {
  padding-left: 40px;
  width: 475px;
}

.task-date-header, .task-title-header {
  font-weight: bold;
  display: inline-block;
}

.task-title, .task-date {
  display: inline-block;
}

.task-title {
  width: 470px;
  margin: 0px;
  overflow: hidden;
}

.task-date {
  width: 120px;
}

.add-task-all, .add-task-day {
  display: inline-block;
  margin: 14px 0px;
}

.btn-task-switcher {
  margin-left: 20px;
}

.add-modal-container, .edit-modal-container {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	position: fixed;
}

.show {
  display: block;
}

.add-task-container, .edit-task-container {
  height: 380px;
  width: 350px;
  top: 50%;
  left: 50%;
  z-index: 1;
	position: absolute;
  transform: translate(-50%, -50%);
	padding: 15px 20px;
	border-radius: 20px;
	color: rgb(83, 203, 250);
	background-color: white;
}

.modal-background {
  background-color: rgba(0,0,0,0.5);
	height: 100%;
}

.close-form {
  float: right;
  border: none;
  outline: none;
	font-weight: bold;
  font-family: verdana;
  color: rgb(83, 203, 250);
  background-color: inherit;
}

.btn-delete, .btn-edit {
  padding: 1px;
  background-color: inherit;
  color: inherit;
  border: none;
}

.prettylabel {
	font-family: verdana;
	font-weight: bold;
  font-size: 12px;
  color: inherit;
}

#search-input, #search-date-input {
  height: 20px;
  width: 160px;
  margin-left: 40px;
  margin-right: 0px;
}

#search-submit, #search-date-submit {
  height: 26px;
  margin-left: 0px;
  background-color: rgb(83, 203, 250);
  color: white;
  border: none;
  outline: none;
}

#search-submit:active, #search-date-submit:active {
  background-color: rgb(19, 178, 241);
}

#search-submit:hover, .btn-delete:hover, #search-date-submit:hover 
.btn-task-switcher:hover, .btn-edit:hover {
  cursor: pointer;
}

.form-element {
  margin-bottom: 7px;
  border: 1px solid rgb(83, 203, 250);
}

.center {
  text-align: center;
}