body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(1, 149, 207);
}

a {
  text-decoration: none;
  color: #00B7FF;
}

.home-title-container {
  width: 300px;
  margin: auto;
  margin-bottom: 85px;
  text-align: center;
}

.home-link-container {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 30px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgb(193, 236, 253);
}

.auth-container {
  background-color: rgb(182, 237, 253);
  height: 100%;
}

.login-container {
  width: 400px;
  height: 120px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.register-container {
  width: 400px;
  height: 120px;
  margin: auto;
}

.form-field {
  width: 200px;
  height: 18px;
  padding: 2px 3px;
  margin-bottom: 7px;
}

.btn-form-submit {
  padding: 4px 7px;
  border-radius: 10px;
  background-color: rgb(83, 203, 250);
  color: white;
  border: none;
  outline: none;
}

.btn-form-submit:active {
  background-color: rgb(19, 178, 241);
}
